<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tdjpartner">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <application
        android:name=".AppAplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

<!--        <activity android:name=".SplashActivity"-->
<!--        <activity android:name=".ui.activity.IronMonthActivity"-->
<!--        <activity android:name=".ui.activity.IronDayActivity"-->
<!--        <activity android:name=".ui.activity.IronDayDetailActivity"-->
<!--        <activity android:name=".ui.activity.IronApprovalActivity"-->
<!--        <activity android:name=".ui.activity.IronApprovalHandleActivity"-->
<!--        <activity android:name=".ui.activity.IronApprovalDetailActivity"-->
<!--        <activity android:name=".ui.activity.IronSupportDetailActivity"-->
        <activity android:name=".ui.activity.IronSupportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MenberHomepageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.statistics.StatisticsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AfterSalesCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AdterSalesOrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DirverMapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AfterSalesDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.TeamPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TeamMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ClientDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DropOutingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CallLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CommonFollowUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MenberPaifangHistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.PartnerCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PartnerCheckDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingPersonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SelectPersonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GoodsAndStoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DiscountCouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BaiFangHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BaiFangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EarningsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WithdrawDetalisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WithdrawDetalisFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AdministrationPaifangHistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AddBaifangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ToMakeMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EarningsHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.InvitationHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.InvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageDetalisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RealNameAuthenticationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyBankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BindingBankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BankListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PageGuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ClientListSeachActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".utils.appupdate.PermissionActivity"
            android:label=""
            android:theme="@style/DialogActivity" />



<!--        <activity-->
<!--            android:name=".ui.activity.IronM2MonthActivity"-->
<!--            android:screenOrientation="portrait" />-->
<!--        <activity-->
<!--            android:name=".ui.activity.IronDayDetailActivity"-->
<!--            android:screenOrientation="portrait" />-->
<!--        <activity-->
<!--            android:name=".ui.activity.IronApprovalDetailActivity"-->
<!--            android:screenOrientation="portrait" />-->
<!--        <activity-->
<!--            android:name=".ui.activity.IronApprovalHandleActivity"-->
<!--            android:screenOrientation="portrait" />-->
<!--        <activity-->
<!--            android:name=".ui.activity.IronSupportActivity"-->
<!--            android:screenOrientation="portrait" />-->
<!--        <activity-->
<!--            android:name=".ui.activity.IronSupportDetailActivity"-->
<!--            android:screenOrientation="portrait" />-->




        <!-- 腾讯X5内核初始化 -->
        <service android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1109665317" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>
        <service android:name=".utils.appupdate.DownloadService" />
        <service android:name="com.amap.api.location.APSService"></service>
<!--        <meta-data android:name="com.amap.api.v2.apikey" android:value="7c04ca757bd4549a996205f8497c6ea2"/>-->
        <meta-data android:name="com.amap.api.v2.apikey" android:value="b9a4c6a74c20fbae38fa31ff7b6b0758"/>
    </application>

</manifest>